@import 'button.css';

/* Forms styles */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
