@import '../components/modals.css';
@import '../components/forms.css';

.page {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.page:hover {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}

.page h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
    transition: color 0.3s ease-in-out;
}

.page h2:hover {
    color: #6600ff;
}

.page form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.page label {
    font-weight: 600;
}

.page input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.page a {
    color: #6600ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.page a:hover {
    color: #330066;
    text-decoration: underline;
}
