/* Header Layout Styles */

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .title {
    font-size: 1.75em;
    width: fit-content;
    margin: 0.5em auto;
    cursor: default;
    transition: font-size 0.3s ease-in-out, color 0.3s ease-in-out;
}

header .title:hover {
    font-size: 2em;
    color: #57426e;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header .nav-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

header .nav-item:hover {
    text-decoration: underline;
    color: #ddd;
    transform: scale(1.05);
}

header .nav-icon {
    width: 32px;
    height: 32px;
    object-fit: cover;
    transition: transform 0.3s;
}

header .nav-item:hover .nav-icon {
    transform: scale(1.1);
}

header .nav-text {
    font-size: 16px;
}

header hr {
    margin: 0;
    transition: margin 0.3s ease-in-out;
}

header hr:hover {
    margin: 0 20px;
}
