/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .title {
    font-size: 1.75em;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header .nav-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

header .nav-item:hover {
    text-decoration: underline;
    color: #ddd;
    transition: color 0.3s;
}

header .nav-icon {
    width: 32px;
    height: 32px;
    object-fit: cover;
    transition: 0.3s;
}

header .nav-item:hover .nav-icon {
    transform: scale(1.1);
    transition: transform 0.2s;
}

header .nav-text {
    font-size: 16px;
}

header hr {
    margin: 0;
}
